name: Project lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "*"

  pull_request:
    branches:
      - "*"

env:
    FORCE_COLOR: "1"

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade hatch
    - name: Lint
      run: hatch fmt --check
    - name: Check types
      run: hatch run types:check
