name: lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "*"

  pull_request:
    branches:
      - "*"

env:
    FORCE_COLOR: "1"

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - name: Lint
      run: |
        uv run ruff check .
        uv run ruff format --check .
    - name: Check types
      run: uv run mypy kroki
