# This workflow will upload a Python Package using uv when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  workflow_dispatch:
  push:
    tags:
      - v[0-9].[0-9].[0-9]

env:
    FORCE_COLOR: "1"

jobs:
  deploy:
    if: github.repository == 'AVATEAM-IT-SYSTEMHAUS/mkdocs-kroki-plugin'
    runs-on: ubuntu-latest
    environment: pypi

    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v4
    - name: Check project version
      run: |
        PROJECT_VERSION=$(uv run python -c "from kroki import __version__; print(__version__)")

        if [ "$PROJECT_VERSION" != "${TAG_NAME#v}" ]; then
          echo "Wrong project version, cannot release: $PROJECT_VERSION, ${TAG_NAME#v} expected"
          exit 1
        fi
      env:
        TAG_NAME: ${{ github.ref }}
    - name: Build package
      run: uv build
    - name: Publish package
      run: uv publish
      env:
        UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
