# This workflow will upload a Python Package using uv when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: publish-snapshot

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
      - '!dependabot/**'

env:
    FORCE_COLOR: "1"

jobs:
  deploy-test:
    if: github.repository == 'AVATEAM-IT-SYSTEMHAUS/mkdocs-kroki-plugin'
    runs-on: ubuntu-latest
    environment: test-pypi

    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - name: Bump temp dev release
      run: |
        CURRENT_VERSION=$(uv run python -c "from kroki import __version__; print(__version__)")
        TIMESTAMP=$(date +%s)
        sed -i "s/__version__ = \".*\"/__version__ = \"$CURRENT_VERSION-$TIMESTAMP\"/" kroki/__init__.py
    - name: Build package
      run: uv build
    - name: Publish package
      run: uv publish --publish-url https://test.pypi.org/legacy/
      env:
        UV_PUBLISH_TOKEN: ${{ secrets.TEST_PYPI_API_TOKEN }}
