# This workflow will upload a Python Package using Hatch when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  workflow_dispatch:
  push:
    tags:
      - v[0-9].[0-9].[0-9]

env:
    FORCE_COLOR: "1"

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade hatch
    - name: Check project version
      run: |
        PROJECT_VERSION=$(TERM=dumb hatch version)

        if [ "$PROJECT_VERSION" != "${TAG_NAME#v}" ]; then
          echo "Wrong project version, cannot release: $PROJECT_VERSION, ${TAG_NAME#v} expected"
          exit 1
        fi
      env:
        TAG_NAME: ${{ github.ref }}
    - name: Build package
      run: hatch build
    - name: Publish package
      env:
        HATCH_INDEX_USER: __token__
        HATCH_INDEX_AUTH: ${{ secrets.PYPI_API_TOKEN }}
      run: hatch publish
