name: Project test

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "*"

  pull_request:
    branches:
      - "*"

env:
    FORCE_COLOR: "1"

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v4
    - name: Test coverage
      run: uv run --python ${{ matrix.python }} pytest tests --cov --cov-report=xml --junitxml=junit/test-results.xml
