name: Project test

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "*"

  pull_request:
    branches:
      - "*"

env:
    FORCE_COLOR: "1"

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade hatch
    - name: Test coverage
      run: hatch test --cover
